<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaliao.basic.mapper.TbFormProblemMapper">
  <resultMap id="BaseResultMap" type="com.javaliao.basic.model.TbFormProblem">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="consultation_id" jdbcType="BIGINT" property="consultationId" />
    <result column="customer_service_employee_id" jdbcType="BIGINT" property="customerServiceEmployeeId" />
    <result column="is_success" jdbcType="VARCHAR" property="isSuccess" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="success_time" jdbcType="TIMESTAMP" property="successTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BIGINT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, consultation_id, customer_service_employee_id, is_success, create_time, success_time, 
    update_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="com.javaliao.basic.model.TbFormProblemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_form_problem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_form_problem
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_form_problem
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.javaliao.basic.model.TbFormProblemExample">
    delete from tb_form_problem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.javaliao.basic.model.TbFormProblem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_form_problem (consultation_id, customer_service_employee_id, 
      is_success, create_time, success_time, 
      update_time, is_delete)
    values (#{consultationId,jdbcType=BIGINT}, #{customerServiceEmployeeId,jdbcType=BIGINT}, 
      #{isSuccess,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{successTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.javaliao.basic.model.TbFormProblem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_form_problem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="consultationId != null">
        consultation_id,
      </if>
      <if test="customerServiceEmployeeId != null">
        customer_service_employee_id,
      </if>
      <if test="isSuccess != null">
        is_success,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="successTime != null">
        success_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="consultationId != null">
        #{consultationId,jdbcType=BIGINT},
      </if>
      <if test="customerServiceEmployeeId != null">
        #{customerServiceEmployeeId,jdbcType=BIGINT},
      </if>
      <if test="isSuccess != null">
        #{isSuccess,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null">
        #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.javaliao.basic.model.TbFormProblemExample" resultType="java.lang.Integer">
    select count(*) from tb_form_problem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_form_problem
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.consultationId != null">
        consultation_id = #{record.consultationId,jdbcType=BIGINT},
      </if>
      <if test="record.customerServiceEmployeeId != null">
        customer_service_employee_id = #{record.customerServiceEmployeeId,jdbcType=BIGINT},
      </if>
      <if test="record.isSuccess != null">
        is_success = #{record.isSuccess,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.successTime != null">
        success_time = #{record.successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_form_problem
    set Id = #{record.id,jdbcType=BIGINT},
      consultation_id = #{record.consultationId,jdbcType=BIGINT},
      customer_service_employee_id = #{record.customerServiceEmployeeId,jdbcType=BIGINT},
      is_success = #{record.isSuccess,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      success_time = #{record.successTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.javaliao.basic.model.TbFormProblem">
    update tb_form_problem
    <set>
      <if test="consultationId != null">
        consultation_id = #{consultationId,jdbcType=BIGINT},
      </if>
      <if test="customerServiceEmployeeId != null">
        customer_service_employee_id = #{customerServiceEmployeeId,jdbcType=BIGINT},
      </if>
      <if test="isSuccess != null">
        is_success = #{isSuccess,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null">
        success_time = #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIGINT},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javaliao.basic.model.TbFormProblem">
    update tb_form_problem
    set consultation_id = #{consultationId,jdbcType=BIGINT},
      customer_service_employee_id = #{customerServiceEmployeeId,jdbcType=BIGINT},
      is_success = #{isSuccess,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      success_time = #{successTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIGINT}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>